@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
    font-family: "Source Sans Pro",Trebuchet MS,sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.color {
    width: 300px;
    height: 300px;
    padding: 20px;
    display: inline-block;
}

.first-light {
    background-color: #f0e3df;
}

.breathless {
    background-color: #d6c2be;
}

.parachute-blush {
    background-color: #e6dcdc;
}

.silky-smooth {
    background-color: #efe3df;
}

.paisley-pink {
    background-color: #e9d8d6;
}

.silken-ribbon {
    background-color: #e8dbdd;
}

.white-lilac {
    background-color: #efe7e7;
}

.silver-peony {
    background-color: #dad6db;
}

.rosily {
    background-color: #f0e3e4;
}

.rosebud {
    background-color: #e0cdd1;
}

.anemone {
    background-color: #f0e2e4;
}

.wallflower {
    background-color: #dbcfd4;
}

.organdy {
    background-color: #e0d2d1;
}

.bridal-rose {
    background-color: #ebe2df;
}