$aqua: rgb(220, 255, 255);
$red: rgb(212, 29, 0);
$orange: rgb(255, 147, 0);
$yellow: rgb(255, 255, 0);
$violet: rgb(148, 33, 148);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

header {
  padding-bottom: 15px;
}

body {
  font-family: 'Source Sans Pro', Trebuchet MS, sans-serif;
  background: $aqua;
  position: relative;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  height: 150px;
}

.padding-top-30 {
  padding-top: 30px;
}

.Title {
  font-size: 96px;
  padding-top: 10px;
  text-align: center;
  margin: 0 20px;
}

.Subtitle {
  text-align: center;
  font-size: 24px;
  margin: 0 10px;
}

.Heading, .Article-title {
  padding: 25px;
  background-color: rgba($orange, 0.7);
  width: 70%;
  text-align: right;
  font-size: 2em;
  margin-top: 40px;
}

.Explanation, .Article-date {
  background-color: rgba($violet, 0.6);
  padding: 30px;
  margin-left: 20%;
  position: relative;
  top: -15px;
  text-align: left;
  max-width: 1024px;
  font-size: 18px;
}

.Textbox, .Resumebox {
  text-align: center;
  padding-bottom: 15px;
}

.Textbox:before, .Article:before, .Resumebox:before, footer:before {
  content: '';
  background-image: url(assets/teal-heart.svg), url(assets/teal-heart.svg), url(assets/teal-heart.svg);
  background-repeat: no-repeat;
  background-position: left, right, center;
  background-size: 20px;
  height: 20px;
  display: inline-block;
  width: 74px;
  margin-top: 40px;
}

footer:before {
  margin-right: 30px;
}

.Portfolio {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -25px;
}

.Portfolio__entry {
  list-style: none;
  flex: 1;
  padding: 20px;
  position: relative;
  min-width: 200px;
  max-width: 300px;

  &:nth-child(3n + 1) {
    background-color: rgba($red, 0.7);
    margin-top: -10px;
    margin-left: -5px;
    margin-bottom: 40px;
  }

  &:nth-child(3n + 2) {
    background-color: rgba($orange, 0.7);
    margin-top: 25px;
    margin-left: -15px;
    margin-bottom: -10px;
  }

  &:nth-child(3n + 3) {
    background-color: rgba($yellow, 0.7);
    margin-left: -10px;
    margin-bottom: 10px;
  }
}

.Portfolio__title {
  padding-bottom: 10px;
}

.Portfolio__links {
  list-style: none;
  padding-top: 10px;

  li {
    display: inline-block;
  }
}

.Portfolio__links li+li:before {
  content: '|';
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Internet {
  display: inline-block;
  background: rgba($red, 0.7);;
  position: relative;
  top: -15px;
  padding: 20px;
}

.Internet__link {
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
  display: inline-block;
  color: transparent;
}

.Internet--twitter {
  background-image: url(assets/twitter.png);
}

.Internet--github {
  background-image: url(assets/github_flat.png);
}

.Internet--linkedin {
  background-image: url(assets/linkedin.png);
}

.Contentbox {
  padding-bottom: 230px;
}

footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  svg {
    transform: rotateX(180deg);
    margin-top: 10px;
    margin-bottom: -5px;
  }
}

// Blog specific

.Blog-wrapper {
  height: 100%;
  display: flex;
}

.Postlist {
  flex: 1;
  min-width: 300px;
  margin-left: -20px;
  margin-top: 100px;
}

.Postlist-content {
  background-color: rgba($red, 0.7);
  padding: 20px;
}

.Article {
  text-align: center;
}

.Article-content {
  padding: 0 20px;
  text-align: left;

  blockquote {
    margin: 10px 20px;
    font-size: 1.2em;
  }

  p {
    padding: 5px 0;
    line-height: 1.5em;
  }

  h3 {
    margin-top: 20px
  }
}

.Resume {
  display: flex;
}

.Resume__download {
  display: inline-block;
}

.Resume__entry {
  padding: 20px;
  position: relative;
  width: fit-content;
  text-align: left;

  &:nth-child(3n + 1) {
    background-color: rgba($red, 0.7);
  }

  &:nth-child(3n + 2) {
    background-color: rgba($violet, 0.6);
  }

  &:nth-child(3n + 3) {
    background-color: rgba($yellow, 0.7);
  }

  ul {
    margin-left: 30px;
  }
}

.Blog {
  .Contentbox {
    max-width: 1200px;
  }

  ul, ol {
    padding-left: 30px;
  }
}

.TetrisHolder {
  margin: 30px auto;
  width: 400px;
  height: 660px;
}

.Button {
  background-color: rgba($violet, 0.6);
  border: 0;
  font-size: 18px;
  padding: 20px;
  font-family: inherit;
  text-align: center;

  &:hover {
    background-color: rgba($violet, 0.7);
  }
}

@media (max-width: 640px) {
  .Title {
    font-size: 15vw;
  }

  .Subtitle {
    font-size: 18px;
  }

  .Portfolio {
    display: block;
    text-align: right
  }

  .Portfolio__entry {
    display: inline-block;
    flex: 0;
    width: 300px;

    &:nth-child(3n + 1) {
      margin: 0;
    }

    &:nth-child(3n + 2) {
      margin: 0;
    }
    
    &:nth-child(3n + 3) {
      margin: 0;
    }
  }

  .Blog-wrapper {
    flex-wrap: wrap;
  }

  .Postlist {
    margin-left: 0;
    margin-top: 30px;
    text-align: right;

    &:before {
      display: inline-block;
      content: '';
      height: 70px;
      width: 150px;
      background-color: rgba(255, 255, 0, 0.7);
      margin-bottom: -20px;
      margin-right: 20px;
    }
  }

  .Postlist-content {
    text-align: left;
  }
}
