@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

* {
	padding: 0;
	margin: 0;
}

html {
	min-width: 1200px;
}

body {
	color: white;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 200;
	background: url('lights1.jpg') black no-repeat 0 300px;
	line-height: 1.4;
}

header {
	width: 38em;
	margin: 0 auto;
	font-size: 1.2em;
}

#intro {
	position: relative;
	top: 200px;
	-webkit-transition: top 500ms;
  transition: top 500ms;
}

#intro.at-top {
	top: 0px;
}


a:hover {
	color: rgb(75,75,75);
}

.content-box {
	width: 70%;
	overflow: auto;
	padding: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: rgb(242,242,242);
	margin: 25px 0;
	font-size: 1.2em;
  box-sizing: border-box;
  color: #222;
}

#textbox  h3 {
	clear: both;
	text-align: left;
	margin-top: 20px;
}

h4 {
	margin: 5px 0;
}

a {
	text-decoration: underline;
	color: #222;
}

p {
	text-align:left;
	padding: 5px 0;
}

#nav {
	width: 130px;
	float:left;
	margin-top: 30px;
}

#nav a:hover {
	color: white;
}

.nav-button {
	list-style: none;
	background: rgb(100, 100, 100);
	font-weight: 200;
	width: 110px;
	text-align: center;
	font-size: 1.5em;
	padding: 15px 10px;
	display: inline-block;
	margin:5px 0;
	text-decoration: none;
	color:white;
}

.nav-button > a {
	text-decoration: none;
	color:white;
}

.nav-button:hover, .nav-buttin > a:hover {
	background-color: rgb(75, 75, 75);
	font-weight: 200;
	cursor: pointer;
}

.nav-button.selected {
	background: rgb(50,50,50);
}

.hidden {
	display: none;
}

h1 {
	font-size: 3em;
	text-align:center;
	font-weight: 200;
	padding: 10px 0;
}

img {
	clear: both;
	margin: 10px 15px 10px 0px;
}

#me-pic{
	width: 200px;
}

.content-box, #triangle {
	float: left;
	clear: none;
}

#triangle {
	display: block;
	background: url('triangle.png');
	width: 45px;
	height: 68px;
	-webkit-transition: margin-top 500ms;
  transition: margin-top 500ms;
}

#triangle.hidden {
	display: none;
}

/* #triangle placements */
.at-about {margin-top: 35px;}
.at-work {margin-top: 110px;}
.at-contact {margin-top: 325px;}
.at-blog {margin-top: 250px;}
.at-resume {margin-top: 180px;}

.hover-tip {
	background: #ccffff;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	padding: 20px;
	position: absolute;
	color: #222;
	font-size: 1.2em;
}

.hover-tip:after {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	border-style: solid;
}

.hover-tip > p {
	text-align: center;
}

#about-hover {
	left: 105px;
	top: 85px;
	width: 150px;
}

#about-hover:after {
	bottom: -30px;
	left: 15px;
	border-width: 0 0 50px 30px;
	border-color: transparent #ccffff;
}

#blog-hover {
	left: 135px;
	top: 375px;
	width: 150px;
}

#blog-hover:after {
	top: 25px;
	left: -35px;
	border-width: 30px 50px 0 0;
	border-color: transparent #ccffff;
}

#resume-hover {
	left: 135px;
	top: 310px;
}

#work-hover:after {
	top: 5px;
	left: -30px;
	border-width: 30px 0 0 50px ;
	border-color: #ccffff transparent;
}

#work-hover {
	left: 150px;
	top: 275px;
}

#resume-hover:after {
	top: 30px;
	left: -40px;
	border-width: 20px 50px 0 0;
	border-color: transparent #ccffff;
}

#contact-hover {
	left: 90px;
	top: 565px;
}

#contact-hover:after {
	top: -35px;
	border-width: 50px 0 0 30px ;
	border-color: transparent #ccffff;
}

#contact-box {
	position: absolute;
	top: 450px;
	left: 175px;
}

#blog-box {
	position: absolute;
	top: 350px;
	left: 175px;
}

#work-box, #resume-box {
	padding-top: 0;
	margin-bottom: 30px;
}

#links ul {
	text-align: right;
}

#links a {
	width: 65px;
	height: 65px;
	color: transparent;
	margin: 15px 15px 0px;
	display: inline-block;
}

li {
	list-style: none;
}

#resume-box li {
	list-style: inherit;
}

#links li {
	display: inline;
}

/* twitter and linked-in media icons provided by http://vervex.deviantart.com/art/Somacro-29-300DPI-Social-Media-Icons-267955425? */
#twitter-link {
	background-image: url(twitter.png);
}

#linkedin-link {
	background-image: url(linkedin.png);
}

/* github icon derivative of http://www.softicons.com/free-icons/social-media-icons/simple-icons-by-dan-leech/github-icon */
#github-link {
	background-image: url(github_flat.png);
}

.circ {
	background-size: 60px 60px;
	background-repeat: no-repeat;
}

.circ:hover {
	background-size: 63px 63px;
}

#portlist > li {
	list-style-type: none;
	border-top-color: #bbb;
	border-top-style: solid;
	border-top-width: 1px;
	padding: 15px 0px;
	clear: both;
}

.techs {
	font-style: italic;
}

.port {
	color: white;
	text-decoration: none;
	font-style: normal;
	display: inline-block;
	padding: 5px;
	background: rgb(100, 100, 100);
	margin-top: 10px;
	margin-right: 10px;
}

.port:hover {
	background-color: rgb(75, 75, 75);
	color: white;
}

blockquote {
	margin: 10px 0px;
}

#portlist {
	margin-left: 0;
}

.portpic {
	width: 300px;
	margin-bottom: 30px;
}

.res-head {
	border-bottom: 1px solid #222;
	margin-top: 15px;
}

#resume-box ul {
	margin-bottom: 10px;
	margin-left: 35px;
}

.right {
	float: right;
}

/* blog specifix */
.blog-line {
	text-align: center;
	height: 62px;
	box-sizing: border-box;
}

.content-box.article-box {
	min-height: 375px;
	width: 60%;
}

.content-box.article-box.subsequent {
	margin-left: 175px;
}

.blog-index {
	float: right;
	color: #222;
	width: 20%;
	padding: 30px;
	box-sizing: border-box;
	margin: 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: rgb(242,242,242);
}

#textbox .blog-index > h3 {
	margin-top: 0;
}

blockquote {
	margin: 10px 20px;
	font-size: 1.2em;
}

.float-left {
	float: left;
}

@media only screen and (max-width: 1140px) {
	html {
		min-width: 300px;
	}

	#triangle {
		display: none;
	}

	.content-box {
		width: auto;
		margin: 25px;
	}

	#intro {
		position: static;
		margin: 15px;
	}

	header {
		text-align: center;
		width: inherit;
		font-size: 1em;
	}

	#nav {
		float: left;
		margin-top: 20px;
		width: 100%;
		text-align: center;
	}

	.nav-button {
		font-size: 1.25em;
		margin-bottom: 0;
		width: 19%;
		padding: 15px 0px;
		min-width: 75px;
	}

	div.hover-tip {
		display: none;
	}

	#links {
		width: 270px;
		margin: 10px auto;
	}

	#links a {
		margin: 10px;
	}

	img {
		display: block;
		margin: 10px auto;
	}

	.float-left {
		float: none;
	}

	#textbox p, #textbox li {
		font-size: 12pt;
	}

	#blog-box, #contact-box {
		position: static;
	}

	.right {
		float: none;
		display: block;
	}

	.blog-index {
		display: none;
	}

	.content-box.article-box {
		width: auto;
	}

	.content-box.article-box.subsequent {
		margin-left: 25px;
	}
}