@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 200;
}

.Title {
	font-size: 3em;
	font-weight: 200;
	padding: 10px 0 0;
	text-align: center;
}

.Subtitle {
	text-align: center;
}

.Heading {
	font-weight: 200;
	padding-bottom: 10px;
}

.Textbox {
	text-align: center;
	font-weight: 200;
	padding: 15px 0;
}

.Portfolio {
	padding: 10px 0;
}

.Portfolio__title {
	font-weight: 200;
}

.Internet {
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
  display: inline-block;
  color: transparent;
}

.Internet--twitter {
	background-image: url(twitter.png);
}

.Internet--github {
	background-image: url(github_flat.png);
}

.Internet--linkedin {
	background-image: url(linkedin.png);
}