/*
$purple: rgb(148, 33, 148);
$red: rgb(212, 29, 0);
$orange: rgb(255, 147, 0);
$yellow: rgba(255, 255, 0);
*/


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

header {
  padding-bottom: 15px;
}

body {
	font-family: 'Paul Grotesk', 'Source Sans Pro', Helvetica, sans-serif;
  background: rgb(220, 255, 255);
}

.Title {
	font-size: 96px;
	padding-top: 10px;
	text-align: center;
  margin: 0 20px;
}

.Subtitle {
	text-align: center;
  font-size: 24px;
  margin: 0 10px;
}

.Heading {
  padding: 25px;
  background-color: rgba(255, 147, 0, 0.7);
  width: 70%;
  text-align: right;
  font-size: 2em;
  margin-top: 40px;
}

.Explanation {
  background-color: rgba(148, 33, 148, 0.6);
  padding: 20px;
  margin-left: 20%;
  position: relative;
  top: -15px;
  text-align: left;
  max-width: 1024px;
  font-size: 18px;
}

.Textbox {
	text-align: center;
	padding-bottom: 15px;
}

.Textbox:before, footer:before {
  content: '';
  background-image: url(teal-heart.svg), url(teal-heart.svg), url(teal-heart.svg);
  background-repeat: no-repeat;
  background-position: left, right, center;
  background-size: 20px;
  height: 20px;
  display: inline-block;
  width: 74px;
  margin-top: 40px;
}

footer:before {
  margin-right: 30px;
}

.Portfolio {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -25px;
}

.Portfolio__entry {
  list-style: none;
  flex: 1;
  padding: 20px;
  position: relative;
  min-width: 150px;
  max-width: 300px;
}

.Portfolio__entry:nth-child(3n + 1) {
  background-color: rgba(212, 29, 0, 0.7);
}

.Portfolio__entry:nth-child(3n + 2) {
  background-color: rgba(255, 147, 0, 0.7);
}

.Portfolio__entry:nth-child(3n + 3) {
  background-color: rgba(255, 255, 0, 0.7);
}

.Portfolio__title {
  padding-bottom: 10px;
}

.Portfolio__links {
  list-style: none;
  padding-top: 10px;
}

.Portfolio__links li {
  display: inline-block;
}

.Portfolio__links li+li:before {
  content: '|';
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.Internet {
  display: inline-block;
  background: rgba(212, 29, 0, 0.7);;
  position: relative;
  top: -15px;
  padding: 20px;
}

.Internet__link {
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
  display: inline-block;
  color: transparent;
}

.Internet--twitter {
	background-image: url(twitter.png);
}

.Internet--github {
	background-image: url(github_flat.png);
}

.Internet--linkedin {
	background-image: url(linkedin.png);
}

footer {
  text-align: right;
}

footer svg {
  transform: rotateX(180deg);
}

@media (max-width: 640px) {
  .Title {
    font-size: 72px;
  }

  .Subtitle {
    font-size: 18px;
  }

  .Portfolio {
    display: block;
    text-align: right
  }

  .Portfolio__entry {
    display: inline-block;
    flex: 0;
  }
}
